<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <!--Font-->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if user_signed_in? %>
      <!--Google Font-->
      <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'main' %>
    <% else %>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <% end %>
    <script>
      var document_root = '<%= root_url  %>';
      console.log('document_root '+ document_root);
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>